<div class="container"> 
  <div class="question-container"*ngFor="let surveyQuestion of quiz.surveyQuestions"> 
    <h4  [innerHtml]="surveyQuestion.question"></h4>
    <div>
      <div  *ngFor="let answer of surveyQuestion.answers" >
        <div (click)="selectAnswer(surveyQuestion, answer)" class="answer-container">
          <span class="answer answer-unselected"> {{answer}} </span>
        </div>
      </div>
    </div>                                
  </div>            
  <button (click)="onSubmit" type="submit" class="btn btn-success">Submit</button>  
</div>