.answer-unselected {    
    background-color: lightgray;
}
.answer-selected {    
    background-color: rebeccapurple;
}
.question-container {
    // width: 100px;
    height: 100px;
    background-color: lightskyblue;
}
.answer {
    font-size: 16px;
    // height: 44px;
    // width: 64px;
}