<div class="container"> 
  <div class="question-container"*ngFor="let surveyQuestion of quiz.surveyQuestions"> 
    <h4 [innerHtml]="surveyQuestion.question"></h4>
    <div>
      <div  *ngFor="let answer of surveyQuestion.answers" >
        <div class="answer-container">
          <button (click)="selectAnswer($event, surveyQuestion, answer)" 
            [ngClass]="{'answer-selected': surveyResponse[surveyQuestion.question] && 
                        surveyResponse[surveyQuestion.question].userAnswer == answer}" 
            class="btn btn-primary btn-warning"> {{answer}} 
          </button>
        </div>
      </div>
    </div>                                
  </div>            
  <button (click)="onSubmit" type="submit" class="btn btn-success">Submit</button>  
</div>