<section>
  <div class="intro-header">
    <div class="intro-message">
            
      <a> 
        <h1 [routerLink]="['/quiz']"> Britannica Survey</h1> 
      </a>
      <!--<hr class="intro-divider">-->
      <!--<button class="btn btn-primary btn-success" [routerLink]="['/quiz']">{{'quiz' | uppercase}}</button>-->
    </div>
  </div>
</section>
<!--<section class="features">
  <div class="feature"
       *ngFor="let feature of features; let odd=odd"
       [ngStyle]="{'background-color': odd ? '#E8EAF6': ''}">
    <div class="image-feature" [ngStyle]="{'background-image': 'url('+feature.image+')'}"></div>
    <div class="text-feature-wrapper">
      <h2 class="title-feature">{{feature.title}}</h2>
      <p class="text-feature">{{feature.text}}</p>
    </div>
  </div>
</section>-->
